@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(253, 253, 255);
    font-family: 'Signika', sans-serif;
}


.mySwiper {
    width: 90%;
    height: 90%;
}

.swiper-slide {
    /* text-align: center; */

    font-size: 25px;
    word-spacing: 1px;
    /* background: yellowgreen; */
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 10rem; */
}

:root {
    --color: rgb(189, 191, 196);
    --font-color: rgb(105, 102, 102);
}